
# модуль позволяет на лету подменять url адрес
RewriteEngine On

# условие,  Если указанный url не файл и не директория
RewriteCond %{REQUEST_URI} !-d
RewriteCond %{REQUEST_URI} !-f

# выполни правило
# Сначала, любой символ с любым количеством, перенаправлять на файл index.php
RewriteRule ^(.*) /14_mysql_blog/blog/?url=$1
